@import '../../variables.scss';

.filterbar{
    width: 100%;
    height: 3rem;
    background-color: #fff;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

    h4{
        font-size: 14px;
        font-weight: 400;
        color: $dark-grayish-blue;
    }
    h4:hover{
        color: $very-dark-grayish-blue-hover;
    }

    #item-count{
        margin-right: 4rem;
    }

    
    .filterbar-filters{
        font-weight: 700;
        color: $dark-grayish-blue;
        cursor: pointer;
    }

    #clear-completed{
        margin-left: auto;
        cursor: pointer;
    }
    .filter-on{
        color: $bright-blue;
        font-weight: 700;
        cursor: pointer;
    }
}