@import '../../variables.scss';

.task-item{
    width: 100%;
    max-width: 40rem;
    min-height: 3.6rem;
    background-color: #fff;
    color: $very-dark-grayish-blue;
    border-bottom: 1px solid $very-light-grayish-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 1rem 1.3rem;


    .task-item-mark{
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem;
        border: 1px solid $very-light-grayish-blue;
        display: flex;
        overflow: hidden;
        
        
        
    }

    .task-item-mark:hover{
        border: 1px solid $bright-blue;
       
    }

    img{
        margin-left: auto;
    }

    .task-item-mark-check{
        width: 0.6rem;
        height: 0.6rem;
        margin: auto;
    }

    .task-item-content{
        word-break:keep-all;
        max-width: 30rem;
    }
}

.no-display{
    display: none;
}

.task-marked{
    background: $check-background;
}
.font-crossed{
    text-decoration: line-through;
    color: $light-grayish-blue;
}