@import '../../variables.scss';

.task-item{
    width: 100%;
    max-width: 40rem;
    min-height: 3.6rem;
    background-color: #fff;
    color: $very-dark-grayish-blue;
    border-bottom: 1px solid $very-light-grayish-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 1rem 1.3rem;


    .task-item-mark{
        border-radius: 50%;
        min-width: 1.3rem;
        max-width: 1.3rem;
        min-height: 1.3rem;
        max-height: 1.3rem;
        border: 1px solid $very-light-grayish-blue;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        
    }

    .task-item-mark:hover{
        border: 1px solid rgb(33, 154, 194);
    }

    img{
        margin-left: auto;
        cursor: pointer;
    }

    .task-item-mark-check{
        width: 0.6rem;
        height: 0.6rem;
        margin: auto;
    }

    .task-item-content{
        word-break:break-all;
        max-width: 28rem;
    }
}


.no-display{
    display: none;
}

.task-marked{
    background: $check-background;
}
.font-crossed{
    text-decoration: line-through;
    color: $light-grayish-blue;
}


@media(max-width: 600px){
    .task-item{
        min-height: 2.5rem;
        
        .task-item-content{
            font-size: 0.7rem;
            max-width: 20.39rem;
            word-break: break-all;

        }

        .task-item-mark{
            min-width: 1.1rem;
            max-width: 1.1rem;
            min-height: 1.1rem;
            max-height: 1.1rem;
        }

        img{
            width: 0.7rem;
        }

        
    }
}