@import '../../variables.scss';

.app-container{
    position: absolute;
    top: 4.35rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 30.1rem;
    max-width: 40rem;
    box-shadow: -15px 40px 40px -40px $shadow-grey, 15px 0px 40px -40px $shadow-grey;

    .app-container-todos{
        margin-top: 1.3rem;
        // border-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        max-height: 51vh;
        overflow-y: scroll;
    }
    
}

@media(max-width: 600px){
    .app-container{
        min-width: 18.5rem;
        max-width: 87%;
        top: 2.5rem;
        box-shadow: 0 0 0 0, 0 0 0 0;

        .app-container-todos{
            margin-top: 0.9rem;
        }
    }
}